@model List<GraphData>;
@{
    ViewData["Title"] = "Home Page";
}





<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bar Chart</title>
</head>

<body>
    <div class="box-body">
        <div>
            
        </div>
        <div width="200px">
            <label id="lblResourceName" class="control-label">Resource List : </label>
            <select id="ResourceName" class="control-select"
                asp-items="@(new SelectList(@ViewBag.ResourceList,"name","name"))" >
            </select>
        </div>
        
        <div height="50px">            
        </div>

        <div>
            <table>
                <tr>
                    <td>
                        <div class="chart-container">
                            <canvas id="chartBar" style="width:60%; height:300px"></canvas>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        @* <div class="chart-container">
                        <canvas id="chartPie" style="width:100%; height:500px"></canvas>
                        </div>*@
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    
       

    </div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>

    var XLabels = "";
    var YValues = "";

    document.getElementById('ResourceName').addEventListener('change', function () {
        var selectedValue = this.value;
        const data = { SelectedOption: document.getElementById("ResourceName").value };

        // Use JSON.stringify to convert the object to a JSON stringconst jsonData = JSON.stringify(data);
        alert("Test" + selectedValue);
         //Using AJAX to send data to the server
        //fetch('@Url.Action("Get_Graph", "Home")', {
        //    method: 'POST',
        //    headers: {
        //        'Content-Type': 'application/json'
        //    },
        //    body: JSON.stringify(data)
        //})
        //    .then(response => response.text())
        //    .then(html => {
        //        // Update the page with the new content (you can update a part of the page with the new result)
        //        document.getElementById('chartBar').innerHTML = html;
        //    });
        debugger;
        
        $.post('/Home/Get_Graph/', { SelectedOption: selectedValue })        
        .done(function (response) 
        { 
            if (response.success) {
                debugger;
                    //$("#chartBar").innerHTML = response;
                    //document.getElementById('chartBar').innerHTML = '';
                    //document.getElementById('chartBar').innerHTML = response.data;
                    XLabels = Array.from(response.data[0].id);
                    YValues = Array.from(response.data[0].name);

                    //XLabels = response.data[0].id;
                    //YValues = response.data[0].name;
                    

                    //$(function () {
        var chartName = "chartBar";
        var ctx = document.getElementById(chartName).getContext('2d');
        var data = {
            labels: XLabels,
            datasets: [{
                label: "Resource Chart",
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 0, 255,0.2)',
                    'rgba(0, 255, 0)',
                    'rgba(0, 0, 255)',
                    'rgba(192, 192, 192)',
                    'rgba(255, 255, 0)',
                    'rgba(255, 0, 255)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 0, 255,0.2)',
                    'rgba(0, 255, 0)',
                    'rgba(0, 0, 255)',
                    'rgba(192, 192, 192)',
                    'rgba(255, 255, 0)',
                    'rgba(255, 0, 255)'
                ],
                borderWidth: 1,
                data: YValues
            }]
        };
        
        var options = {
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        beginAtZero: true
                    },
                    gridLines: {
                        display: true,
                        color: "rgba(255,99,164,0.2)"
                    }
                }],
                xAxes: [{
                    ticks: {
                        min: 0,
                        beginAtZero: true
                    },
                    gridLines: {
                        display: false
                    }
                }]
            }
        };

        var myChart = new Chart(ctx, {
            options: options,
            data: data,
            type: 'pie'

        });
    //});

                } 
        else { 
            $("#response").html(`<p style="color: red;">${response.message}</p>`); 
        }
        
        })
        .fail(function (jqXHR, textStatus, errorThrown) 
        {
                debugger;
            console.error("Error: ", textStatus, errorThrown); 
            $("#response").html(`<p style="color: red;">An error occurred. Please try again.</p>`); 
        
        });      
        

        //$.post('/Home/Get_Graph/',
        //    {
        //        SelectedOption: selectedValue                
        //    },
        //    {
        //        success: function (result) {
        //                                    deferred.resolve(list, {
        //                                        totalCount: list.length
        //                                    });
        //            debugger;
        //                                    document.getElementById('chartBar').innerHTML = result;
        //                                },
        //                                //Error
        //                                error: function () {
        //            debugger;
        //                                    deferred.reject("Data Loading Error");
        //                                }

        //        //success: function (result) {
        //        //    debugger;
        //        //        document.getElementById('chartBar').innerHTML = result;
                    
        //        //}
        //    }
        //);

    });

    //}
</script>